<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
</head>
<body>

<form th:action="@{'/restUser/users/delete/' + ${user.userId}}" th:object="${user}" th:method="POST">
    <fieldset style="...">
        <legend style="..."><h2>Delete user</h2></legend>
        Id:<br>
        <input type="text" name="userId" th:field="*{userId}"><br>
        Name:<br>
        <input type="text" name="userName" th:field="*{userName}"><br>
        Email:<br>
        <input type="text" name="email" th:field="*{email}"><br>
        BirthDate:<br>
        <input type="text" name="birthDate" th:field="*{birthDate}"><br>
        <td>
            <input type="hidden" name="deleteUser" value="Delete user">
            <button type="submit" th:value="deleteUser" onclick="return confirm('Are you sure?')">Delete</button>
        </td>
    </fieldset>
</form>

</body>
</html>