<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions by account</title>
</head>
<body>

<form th:action="@{'/restTransaction/transactions/transactionsByAccount/'}" th:object="${transactionsByAccount}">
    <h1>Transaction details</h1>
    <table border="5">
        <tr id="id">
            <th>transactionId</th>
            <th>accountId</th>
            <th>destinationAccount</th>
            <th>amount</th>
            <th>transactionDate</th>
            <th>delete</th>
        </tr>
        <tr th:each="transaction:${transactionsByAccount}">
            <td th:text="${transaction.transactionId}"></td>
            <td th:text="${transaction.accountId}"></td>
            <td th:text="${transaction.destinationAccount}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.transactionDate}"></td>
            <td><a th:href="@{'/restTransaction/transactions/showDeleteTransaction/' + ${transaction.transactionId}}">Delete transaction</a></td>
        </tr>
    </table>
</form>

</body>
</html>
